*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url();
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: inherit;
}

.logo{
    width: 75px;
    height: auto;
}


nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{
        li{
            display: inline-block;
            list-style: none;
            margin: 10px 15px;
            
            a{
                text-decoration: none;
                color: #333;
                font-weight: 400;
            };
        };
    };
}


.ribbon_tab{
    font-size: 20px;
}


.selected_ribbon_tab{
    font-size: 30px;
    font-weight: bold;
}


.bold_on_hover:hover:hover{
    font-weight: bold;
}


.underline_on_hover:hover:hover{
    text-decoration: underline;
}


.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color:#fff;
    background-image: linear-gradient(45deg, #28236d, #28236d);
    font-size: 20px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s
}
.btn:hover{
    border-top-right-radius: 30px;
}


.resume{
    margin-top: 5%;
    padding: 10px 10%;
    animation-delay: 0.75s;

    .row{
        margin-top: 1%;
    };

    h1{
        color: darkblue;
        text-align: left;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    };

}


/* Clear floats after the columns */
.resume:after {
content: "";
display: table;
clear: both;
}


.resume_container{

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 375px;
    }

    .col1{
        h3{
            font-weight: normal;
        };

        h4{
            font-weight: normal;
            font-style: italic;
        };
    };

    .col2{
        li{
            text-align:justify;
            padding-bottom: 15px;
        };
    };

}


.aptitudes_container{

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 75px;
    };

    .col1{
        text-align: right;
    };
}


.education_container{

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 130px;
    };

    .col1{

        h3{
            font-weight: normal;
        };

        h4{
            font-weight: normal;
            font-style: italic;
        };

        .dancing_albert_gator{
            width: 20px;
            height: auto;
        };
    };

    .col2{
        
        h3{
            font-weight: normal;
        };

        h4{
            font-weight: normal;
        };

        h5{
            font-weight: normal;
            font-style: italic;
        };
    };

}


.contact_button{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .btn{
        animation-delay: 1s;
        position: fixed;
        bottom: 3%;
        right: 3%;
    };
}


.footer_line{
    padding-top: 100px;
    margin-bottom: 1%;
    text-align: center;
}


.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}